<div class="container">
    <div class="row main-container">
        <div class="col-sm-4">
            <div class="card item-container" style="width: 18rem;">
                <img src="https://res.cloudinary.com/edgarcg/image/upload/v1597900707/socialApp/user_jb7rdt.png"
                    class="card-img-top" alt="profile-Image">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="item-container">
                col-sm-4
            </div>
        </div>
    </div>
</div>