<div class="container">
    <div class="row main-container">
        <div class="col-sm-4">
            <div class="card item-container" style="width: 18rem;">
                <img src={{user.photoUrl}} class="card-img-top" alt="profile-Image">
                <div class="card-body">
                    <h4>Bienvenido {{user.username}}</h4>
                    <p class="card-text">{{user.info}}</p>
                </div>
                <a href="/editProfile/{{user.id}}">Editar perfil</a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="item-container">
                col-sm-4
            </div>
        </div>
    </div>
</div>