.main-container{
    display: flex;
    flex-wrap: wrap;
}

.item-container{
    margin: 20px;
}

.form-container{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.col, .col-8, .row {
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.carousel-item{
    width: 100%;
}